<div class="service-card" [class.service-card--featured]="service.featured">
  <div class="service-card__badge" *ngIf="service.featured">Popular</div>
  <div class="service-card__icon">
    <span *ngIf="service.icon === 'basic'" class="material-symbols-outlined">cleaning_services</span>
    <span *ngIf="service.icon === 'standard'" class="material-symbols-outlined">build_circle</span>
    <span *ngIf="service.icon === 'pro'" class="material-symbols-outlined">engineering</span>
  </div>

  <h3 class="service-card__title">{{ service.title }}</h3>
  <div class="service-card__price">₹{{ service.price }}</div>

  <p class="service-card__description">{{ service.description }}</p>

  <div class="service-card__features">
    <span class="feature" *ngFor="let feature of service.features">{{ feature }}</span>
  </div>

  <button
    (click)="openModal(service)"
    class="btn"
    [class.btn--primary]="service.featured"
    [class.btn--outline]="!service.featured">
    Select Package
  </button>
</div>

<app-booking-modal [show]="isModalOpen" (close)="closeModal()">
</app-booking-modal>
